In [61]:
#import Dependencies 

#matplot
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
from pandas.plotting import table
import os
import seaborn as sns
import plotly as py

#import password
from config import password

#SQLAlchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [62]:
df = pd.read_csv(os.path.join("..", "data", "TeamsFranchises.csv"))
# Drop the null columns where all values are null
#df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head(1000)

    franchID                     franchName active NAassoc
0        ALT          Altoona Mountain City      N     NaN
1        ANA  Los Angeles Angels of Anaheim      Y     NaN
2        ARI           Arizona Diamondbacks      Y     NaN
3        ATH         Philadelphia Athletics      N     PNA
4        ATL                 Atlanta Braves      Y     BNA
..       ...                            ...    ...     ...
115      WNL           Washington Nationals      N     NaN
116      WNT           Washington Nationals    NaN     NaN
117      WOR            Worcester Ruby Legs      N     NaN
118      WSN           Washington Nationals      Y     NaN
119      WST           Washington Statesmen      N     NaN

[120 rows x 4 columns]

## Create a connection to SQL

In [63]:
pg_user = 'postgres'
pg_password = password
db_name = 'baseball_analysis'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [64]:
engine.table_names()

['Batting', 'People', 'Pitching', 'Salaries', 'Teams']

In [67]:
#write to sql
df.to_sql(name = "TeamsFranchises", con=engine, if_exists='append', index=False)

In [68]:
#confirm data has been loaded to sql table
pd.read_sql_query('select * from TeamsFranchises', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "teamsfranchises" does not exist
LINE 1: select * from TeamsFranchises
                      ^

[SQL: select * from TeamsFranchises]
(Background on this error at: http://sqlalche.me/e/f405)