<h1>Add Machine Learning Model CSV results to HEROKU Database</h1>
<br>
PLAYER PREDICTIONS - HOME RUNS

<h4>Import Dependencies</h4>

In [1]:
import os
import csv
import pandas as pd
import random

import sqlite3
import csv
from sqlalchemy import create_engine

from config import pgPassword

<h4>Create paths to CSV files</h4>

In [2]:
#pathTeams = os.path.join("..", "..", "data", "csv/models", "teamPredictions.csv")
#pathRunsScore = os.path.join("..", "..", "data", "csv/models", "rpgPredictions.csv")
pathHomeRuns = os.path.join("..", "..", "data", "csv/models", "HRpgPredictions.csv")
#pathBaseHits = os.path.join("..", "..", "data", "csv/models", "hpgPredictions.csv")
#pathWalks = os.path.join("..", "..", "data", "csv/models", "BBpgPredictions.csv")

<h4>Load CSV files into DataFrame</h4>

In [3]:
# Read Players Runs Score Predictions csv into a DataFrame
homeRunsDF = pd.read_csv(pathHomeRuns)
homeRunsDF = homeRunsDF.rename(columns={'Unnamed: 0': 'ID'})
homeRunsDF = homeRunsDF.rename(columns={'model_type': 'modelType'})
homeRunsDF['ID'] = homeRunsDF.index
print(homeRunsDF.shape)
homeRunsDF.head()

(835324, 6)

   ID  yearID  fpID  actual     model modelType
0   0    1982  1000     0.0  0.005417  ML-LN-T1
1   1    1983  1000     0.0  0.004240  ML-LN-T1
2   2    1984  1000     0.0  0.011114  ML-LN-T1
3   3    1985  1000     0.0  0.000985  ML-LN-T1
4   4    1983  1003     0.0  0.007112  ML-LN-T1

In [4]:
size = 100000
HR_df = [homeRunsDF.loc[i:i+size-1,:] for i in range(0, len(homeRunsDF),size)]
print(len(HR_df))

9

<h1>===========================================================</h1>

<h1>Set up SQL DataBase</h1>

Before running of the cells below- <b>
    in pgAdmin: drop and create above tables with blank content in DataBase named 'baseball_db'

<h4>Create a connection to SQL database</h4>

In [5]:
pg_user = 'user'
pg_password = 'password'
db_name = 'name'

connection_string = f"{pg_user}:{pg_password}@heroku.com:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
engine.table_names()

['Batting',
 'Franchises',
 'Team-Stats',
 'Teams',
 'FranchisePlayers',
 'Pitching',
 'Players',
 'PlayerPredictions-RunsScore',
 'PlayerPredictions-HomeRuns',
 'PlayerPredictions-Walks',
 'TeamPredictions',
 'PlayerPredictions-BaseHits',
 'Salaries']

<h4>Add dataframes to SQL database</h4>

In [7]:
HR_df[0].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 1 loaded success...")

runs score predictions - 1 loaded success...

In [8]:
HR_df[1].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 2 loaded success...")

home runs predictions - 2 loaded success...

In [9]:
HR_df[2].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 3 loaded success...")

home runs predictions - 3 loaded success...

In [10]:
HR_df[3].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 4 loaded success...")

home runs predictions - 4 loaded success...

In [11]:
HR_df[4].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 5 loaded success...")

home runs predictions - 5 loaded success...

In [12]:
HR_df[5].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 6 loaded success...")

home runs predictions - 6 loaded success...

In [13]:
HR_df[6].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 7 loaded success...")

home runs predictions - 7 loaded success...

In [14]:
HR_df[7].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 8 loaded success...")

home runs predictions - 8 loaded success...

In [15]:
HR_df[8].to_sql(name = "PlayerPredictions-HomeRuns", con = engine, if_exists='append', index=False)
print("home runs predictions - 9 loaded success...")

home runs predictions - 9 loaded success...